@import "tailwindcss";

@theme {
    --color-primary: #1A8381;
    --color-secondory:#238688;
}
/* index.css */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
